.custom-form-wrapper{
    border-radius:4px;
    border:1px solid #ebebeb;
    height:40px;
    display: flex;
    align-items: center;
    padding:1rem;
    .btn{
        height:24px;
        display: flex;
        align-items: center;
        padding-top:0px;
        padding-bottom:0px;
        font-family: 'AvenirLTStd-Medium';
        font-size:10px;
    }
    .form-control{
        border:none;
        font-size:10px;
        font-family:'AvenirLTStd-Medium' ;
        padding:0;
        &:focus{
            box-shadow: none;
        }
    }
}