$theme-colors:(
    "primary": rgb(248, 149, 33)
);

$proto-orange:      #f89521;
$machina-red:       #ef4136;
$text-black:        #5f5f5f;
$text-heavy-black:  #282d30;
$border-gray:       #ebebeb;
$border-medium-gray:  #9f9f9f;
$body-bg:           #fbfbfb;


@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: local('AvenirLTStd-Medium'), url('./fonts/AvenirLTStd-Medium.woff') format('woff');
}
@font-face {
    font-family: 'AvenirLTStd-Book';
    src: local('AvenirLTStd-Book'), url('./fonts/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
    font-family: 'AvenirLTStd-Roman';
    src: local('AvenirLTStd-Roman'), url('./fonts/AvenirLTStd-Roman.woff') format('woff');
}
@font-face {
    font-family: 'AvenirLTStd-Heavy';
    src: local('AvenirLTStd-Heavy'), url('./fonts/AvenirLTStd-Heavy.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.font-{
    &avenir-heavy{
        font-family: 'AvenirLTStd-Heavy';
    }
    &avenir-roman{
        font-family: 'AvenirLTStd-Roman';
    }
    &avenir-black{
        font-family:"AvenirLTStd-Black"
    }
    &avenir-medium{
        font-family: "AvenirLTStd-Medium";
    }
}

.text-{
    &machina-red{
        color:$machina-red;
    }
    &orange{
        color:$proto-orange
    }
}
  

body {
    padding-bottom: 1em;
    color:$text-black!important;
    font-weight: 500!important;
    background-color: #f9fbfd!important;
    max-width: 1400px;
    margin: auto!important;
}

.btn {
    cursor: pointer;
    display: flex;
    width: max-content;
    align-items: center;
    background-color: $proto-orange;
    border-color: $proto-orange;
    font-size: 12px;
    height: 32px;
    &.next{
        padding-right:30px;
        background-image:url('./images/icon-arrow-right.svg');
        background-position:calc(100% - 10px) center;
        background-repeat: no-repeat;
    }
    &:hover{
        background-color: $proto-orange;
    }
}

.card{
    img{
        width: 100%;
        &.icon{
            width: 40px;
            height: 40px;
        }
    }
}

.navbar{
    box-shadow: 0px 2px 4px 0px rgba(190, 190, 190, 0.5);
    height: 72px;   
    .search{
        background-image: url('../assets/images/icon-search-gray.svg');
        background-position: right center;
        background-size: 20px;
        background-repeat: no-repeat;
        padding-right: 30px;
        padding-top: 15px;
    }
    .nav-item{
        height: 72px;
        display: table;
        .nav-link{
            display: table-cell;
            vertical-align: middle;
        }
    }
    .nav-link, .navbar-text{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        height: 100%;
        &.active{
            color: $proto-orange;
            border-bottom: 4px solid $proto-orange;
        }
    }
}

//Apps

.apps-wrapper{
    width:100%;
    flex-wrap: wrap;
    padding: 9% 0px 20% 0px;
    div[class^="app-icon"]{
        height:64px;
        background-position: center;
        background-size:contain;
        background-repeat: no-repeat;
        flex-basis: 20%;
        margin-bottom:2rem;
    }
    .app-icon-{
        &google{
            background-image:url('./images/icon-google.svg')
        }
        &gmail{
            background-image:url('./images/icon-gmail.svg')
        }
        &drive{
            background-image:url('./images/icon-drive.svg')
        }
        &calendar {
            background-image:url('./images/icon-calendar.svg')
        }
        &slack{
            background-image:url('./images/icon-slack.svg')
        }
        &jira{
            background-image:url('./images/icon-jira.svg')
        }
        &confluence{
            background-image:url('./images/icon-confluence.svg')
        }
        &invision{
            background-image:url('./images/icon-invision.svg')
        }
        &sketch{
            background-image:url('./images/icon-sketch.svg')
        }
        &bamboo{
            background-image:url('./images/icon-bamboo.svg')
        }
    }
    
}

a{
    color: $proto-orange;
}

table{
    border-collapse: separate;
    border-spacing: 0 8px;
    thead{
        tr{
            background: #ececec;
        }
    }
    tbody{
        tr{
            background: #ffffff;
            border-radius: 10px;
            td{
                font-family: 'AvenirLTStd-Roman';
                font-size: 14px;
                border-top: none;
                .active, .inactive{
                    background: #6dd400;
                    border-radius: 3.6px;
                    height: 16px;
                    width: 16px;
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: middle;
                }
                .inactive{
                    background: #ff0e00;
                }
            }
        }
    }
    th, td{
        border-top: none!important;
        border-bottom: none!important;
    }
}


.nav-tabs{
    width: 67%;
    .nav-link{
        color: #5f5f5f;
        font-family: 'AvenirLTStd-Medium';
        cursor: pointer;
        &.active{
            background: none;
            border: none;
            border-bottom: 2px solid #f89521;
            color: #f89521;
            font-family: 'AvenirLTStd-Heavy';
        }
    }

}

.modal-dialog{
    max-width: 850px;
    background: linear-gradient(-180deg, rgb(241, 243, 245) 0%, rgb(243, 245, 247) 100%);
    border-radius: 10px;
    .modal-header{
        border-bottom: none;
        z-index: 99;
        .modal-title{
            font-family: 'AvenirLTStd-Medium';
            font-size: 40px;
            font-weight: 500;
            color: #000000;
        }
        .close{
            font-size: 25px;
            color: #282d30;
            opacity: 1;
        }
    }
    .modal-body{
        padding: 0px 30px 20px 30px;
        min-height: 300px;
        max-height: 700px;
        overflow-y: auto;
    }
}

.blog-wrapper{
    margin-top: 20px;
    .back{
        font-family: 'AvenirLTStd-Roman';
        font-size: 16px;
        font-weight: normal;
        color: $text-black;
        background-image: url('../assets/images/ico-back-gray.svg');
        background-position: left;
        background-size: 16px;
        background-repeat: no-repeat;
        padding-left: 30px;
    }
    .title-blog{
        font-family: 'AvenirLTStd-Medium';
        font-size: 38px;
        font-weight: 500;
        color: #000000;
    }
    .post{
        white-space: pre-line;
        font-family: 'AvenirLTStd-Medium';
        font-size: 20px;
        font-weight: 500;
        color: $text-heavy-black;
    }
    .photo-by{
        width: 67px;
        height: 67px;
    }
    .data-user{
        align-self: center;
        margin-left: 10px;
        p{
            margin-bottom: 2px;
            font-weight: 500;
            line-height: 1;
        }
        .name{
            font-size: 20px;
            color: #000;
        }
        .sub{
            font-size: 16px;
            color: $text-black;
        }
        .times{
            font-size: 12px;
            color: #9f9f9f;
        }
    }
    .social{
        width: 130px;
        justify-content: space-between;
        .ico{
            width: 30px;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            &.facebook{
                background-image: url('../assets/images/facebook.png');
            }
            &.linkedin{
                background-image: url('../assets/images/linkedin.png');
            }
            &.twitter{
                background-image: url('../assets/images/twitter.png');
            }
        }
    }
    .footer{
        border-top: 1px solid rgb(159, 159, 159);
        margin-top: 2em;
        .logo{
            height: 50px;
            width: 180px; 
            background-size: contain;   
            background-repeat: no-repeat;
            background-position: center;
            &.prototype{
                background-image: url('../assets/images/logo-prototype.svg');
            }
            &.nova{
                background-image: url('../assets/images/logo-nova.png');
            }
            &.machina{
                background-image: url('../assets/images/logo-machina.png');
            }
            &.precision{
                background-image: url('../assets/images/logo-precision.png');
            }
        }
    }
}

.fit-content{
    height: fit-content;
}

.new-title{
    font-family: "AvenirLTStd-Roman";
    font-size: 32px;
    font-weight: normal;
    color: #000;
}

.new-nav{
    a{
        color: #9f9f9f;
        font-family: "AvenirLTStd-Roman";
        font-size: 16px;
    }
    b{
        font-family: "AvenirLTStd-Heavy";
        color: #282d30;
    }
}